/*
Import fonts
*/
@import url('https://fonts.googleapis.com/css?family=Patua One');
@import url('https://fonts.googleapis.com/css?family=Quintessential');

body {
    min-width: 1300px;
    font-family: 'Patua One';
}

#headerDiv {
    background-image: url("../img/snowbird_dark.jpg");
    height: 100vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

#headerCpd {
    font-size: 60px;
    font-family: 'Quintessential';
    color: white;
}

#headerText {
    font-size: 25px;
    color: white;
}

.headTxtHvr {
    border-radius: 50px;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.headTxtHvr:hover {
    background-color: rgba(255, 242, 28, 0.75);
    cursor: pointer;
}

.sectionHead {
    font-family: 'Quintessential';
    font-size: 50px;
    font-weight: bold;
}

#stockChart {
    height: 400px;
}

.visImg, .dataVid {
    box-shadow: 0px 0px 2px 2px #373737;
}

#webDevDiv {
    background-image: url("../img/big-sky-peak-dark.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.webDevAnchor {
    color: inherit;
}

.webDevAnchor:hover {
    text-decoration: none;
}

.webDevImg {
    width: 400px;
    box-shadow: 0px 0px 2px 2px #373737;
}

.techLogo {
    height: 50px;
}

#contactDiv {
    height: 75vh;
    color: white;
    background-image: url("../img/tetons-dark.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

#gitAnchor {
    font-size: 30px;
    color: white;
}

